@model IEnumerable<Jio.Models.Menu_Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

</p>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Search By Restaurant  @Html.TextBox("SearchString")
        <input class="btn btn-default" type="submit" value="Search" />
    </p>
    }
    <p></p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.restaurant.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.restaurant.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Menu_ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Menu_ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Menu_ItemID })
        </td>
    </tr>
}

</table>
