@model Jio.Models.Menu_Item
<link rel="stylesheet" href="~/Content/menu.css" type="text/css">
@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Item_Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
          @*  @Html.DisplayNameFor(model => model.description)*@
        </dt>

        <dd>
          <h2>  @Html.DisplayFor(model => model.description) </h2>
        </dd>
        <p>
            <div id="lo">
            <img src="@Model.AlbumArtUrl" alt="@Model.Item_Name" />
                </div>
        </p>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
           <h2> @Html.DisplayFor(model => model.price)</h2>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add To Cart", "AddToCart", "ShoppingCart", new { id = Model.Menu_ItemID }, null) |
</p>
