@model IEnumerable<Jio.Models.Menu_Item>
@*<script src="~/Scripts/menu.js"></script>*@
<link rel="stylesheet" href="~/Content/menu.css" type="text/css">
@{

    {
        ViewBag.Title = "Restaurant Menu";
    }
}

<h2>Restaurant Menu</h2>

<div id="menutable" >
    <table id="mtb" border="0" width="100%" cellpadding="1">
        <tbody>
           

                @foreach (var menuitem in Model)
                {
                    <tr class="restaurantclick">
                        <td class="" onclick="action = 'submit';">
                            <k class="k">
                                <article>
                                    @Html.DisplayFor(modelItem => menuitem.Item_Name)
                            </k>
                            <p>
                                @Html.DisplayFor(modelItem => menuitem.price)
                            </p>
                            <article>
                                @Html.DisplayFor(modelItem => menuitem.description)
                            </article>
                            @Html.ActionLink("Add To Cart", "AddToCart", "ShoppingCart", new { id = menuitem.Menu_ItemID, }, null) |
                            @Html.ActionLink("Details", "MenuItemDetails", "Menu_Item", new { id = menuitem.Menu_ItemID, @class = "btn-primary" }, null)


                        </td>
                    </tr>


                }
                  

                </tbody>
            </table>
        </div>



