@model IEnumerable<Jio.Models.Restaurant>
<link rel="stylesheet" href="~/Content/menu.css" type="text/css">
@{
//ViewBag.Title = "Restaurants";
}

<h1>Restaurants</h1>
<p>
         
</p>

<p>
    @using (Html.BeginForm()){
    <p>Search By Name  @Html.TextBox("SearchString") 
        <input class="btn btn-default" type="submit" value="Search" /></p>
    }
<p></p>

<p>
    @using (Html.BeginForm())
    {
    <p>
       Search by Description @Html.TextBox("Description") 
        <input class="btn btn-default" type="submit" value="Search" />
    </p>
    }
   <p> </p>

<div id="menutable">
    <table id="mtb" border="0" width="100%" cellpadding="1">
        <tbody>

            @foreach (var menuitem in Model)
            {
                <tr class="restaurantclick">
                    <td class="" onclick="action = 'submit';">
                        <k class="k">
                            @Html.DisplayFor(modelItem => menuitem.Name)
                        </k>
                        <p>
                            @Html.DisplayFor(modelItem => menuitem.Description)
                        </p>
                        <article>
                            @Html.DisplayFor(modelItem => menuitem.Contact)
                        </article>
                        @Html.ActionLink("Select", "Restaurant_Menu", "Menu_Item", new { id = menuitem.RestaurantID, }, null) |
                        @Html.ActionLink("Reviews", "Restaurant_Reviews", "Reviews", new { id = menuitem.RestaurantID, }, null) |


                    </td>
                </tr>


            }

        </tbody>
    </table>
</div>


