@model Jio.Models.Feedback

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Satisfaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Satisfaction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suggestions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suggestions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeedbackID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
